In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///trial.db', echo=True)

In [3]:
import sqlalchemy as sql

In [25]:
from sqlalchemy import Table, Column, Integer, String, Float, MetaData, ForeignKey

In [28]:
metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('fullname', String),
             )
populations = Table('populations', metadata,
                    Column('id', Integer, primary_key=True),
                    Column('size', Integer),
                    Column('generations_of_selection', Integer),
                    Column('meta_population_sample_size', Integer),
                    Column('replicates', Integer),
                   )
individuals = Table('individuals', metadata,
                    Column('id', Integer, primary_key=True),
                    Column('mother_id', Integer),
                    Column('father_id', Integer),
                    Column('generation', Integer),
                    Column('population_id', None, ForeignKey('populations.id')),
                    Column('g', Float),
                    Column('p', Float),
                   )
addresses = Table('addresses', metadata, 
                  Column('id', Integer, primary_key=True),
                  # The parameter in foreignkey is the name of a different table
                  # users and the value we want as an attribute id, users.id
                  Column('user_id', None, ForeignKey('users.id')),
                  Column('email_address', String, nullable=False)
                 )

In [29]:
metadata.create_all(engine)

2015-09-14 03:57:42,792 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("populations")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("populations")

2015-09-14 03:57:42,793 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:42,795 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2015-09-14 03:57:42,795 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:42,796 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("individuals")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("individuals")

2015-09-14 03:57:42,797 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:42,798 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2015-09-14 03:57:42,798 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:42,800 INFO sqlalchemy.engine.base.Engine
CREATE TABLE populations (
	id INTEGER NOT NULL,
	size INTEGER,
	generations_of_selection INTEGER,
	meta_population_sample_size INTEGER,
	replicates INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE populations (
	id INTEGER NOT NULL,
	size INTEGER,
	generations_of_selection INTEGER,
	meta_population_sample_size INTEGER,
	replicates INTEGER,
	PRIMARY KEY (id)
)

2015-09-14 03:57:42,800 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:42,948 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2015-09-14 03:57:42,952 INFO sqlalchemy.engine.base.Engine
CREATE TABLE individuals (
	id INTEGER NOT NULL,
	mother_id INTEGER,
	father_id INTEGER,
	generation INTEGER,
	population_id INTEGER,
	g FLOAT,
	p FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(population_id) REFERENCES populations (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE individuals (
	id INTEGER NOT NULL,
	mother_id INTEGER,
	father_id INTEGER,
	generation INTEGER,
	population_id INTEGER,
	g FLOAT,
	p FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(population_id) REFERENCES populations (id)
)

2015-09-14 03:57:42,953 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:57:43,148 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [30]:
pop_ins = populations.insert()
ind_ins = individuals.insert()

In [32]:
conn = engine.connect()

In [19]:
result.inserted_primary_key

[1]

In [35]:
conn.execute(pop_ins, id=3, size=2000, generations_of_selection=5, 
             meta_population_sample_size=250, replicates=1)

2015-09-14 04:01:54,144 INFO sqlalchemy.engine.base.Engine INSERT INTO populations (id, size, generations_of_selection, meta_population_sample_size, replicates) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO populations (id, size, generations_of_selection, meta_population_sample_size, replicates) VALUES (?, ?, ?, ?, ?)

2015-09-14 04:01:54,147 INFO sqlalchemy.engine.base.Engine (3, 2000, 5, 250, 1)

INFO:sqlalchemy.engine.base.Engine:(3, 2000, 5, 250, 1)

2015-09-14 04:01:54,150 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [40]:
from sqlalchemy import select
s = select([users])
result = conn.execute(s)

2015-09-14 04:04:06,585 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2015-09-14 04:04:06,587 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [44]:
sp = select([populations])
popresult = conn.execute(sp)
for row in popresult:
    print(row)

2015-09-14 04:05:09,726 INFO sqlalchemy.engine.base.Engine SELECT populations.id, populations.size, populations.generations_of_selection, populations.meta_population_sample_size, populations.replicates
FROM populations

INFO:sqlalchemy.engine.base.Engine:SELECT populations.id, populations.size, populations.generations_of_selection, populations.meta_population_sample_size, populations.replicates
FROM populations

2015-09-14 04:05:09,728 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 2000, 5, 250, 1)
(2, 2000, 5, 250, 1)
(3, 2000, 5, 250, 1)

In [43]:
for row in result:
    print(row)

(1, 'jack', 'Jack Jones')
(2, 'wendy', 'Wendy Williams')