In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///trial.db', echo=True)

In [3]:
import sqlalchemy as sql

In [25]:
from sqlalchemy import Table, Column, Integer, String, Float, MetaData, ForeignKey

In [9]:
metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('fullname', String),
             )
populations = Table('populations', metadata,
                    Column('id', Integer, primary_key=True),
                    Column('size', Integer),
                    Column('generations_of_selection', Integer)
                    Column('meta_population_sample_size', Integer)
                    Column('replicates', Integer)
                   )
individuals = Table('individuals', metadata,
                    Column('id', Integer, primary_key=True)
                    Column('mother_id', Integer),
                    Column('father_id', Integer),
                    Column('generation', Integer),
                    Column('population_id', None, ForeignKey('populations.id')),
                    Column('g', Float),
                    Column('p', Float),
                   )
addresses = Table('addresses', metadata, 
                  Column('id', Integer, primary_key=True),
                  # The parameter in foreignkey is the name of a different table
                  # users and the value we want as an attribute id, users.id
                  Column('user_id', None, ForeignKey('users.id')),
                  Column('email_address', String, nullable=False)
                 )

In [10]:
metadata.create_all(engine)

2015-09-14 03:40:18,304 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-09-14 03:40:18,305 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,306 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2015-09-14 03:40:18,307 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,309 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2015-09-14 03:40:18,309 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,311 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2015-09-14 03:40:18,311 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,313 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2015-09-14 03:40:18,314 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,629 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2015-09-14 03:40:18,632 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2015-09-14 03:40:18,635 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2015-09-14 03:40:18,762 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [11]:
ins = users.insert()

In [12]:
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [13]:
ins = users.insert().values(name='jack', fullname='Jack Jones')

In [16]:
ins.compile().params

{'fullname': 'Jack Jones', 'name': 'jack'}

In [17]:
conn = engine.connect()

In [18]:
result = conn.execute(ins)

2015-09-14 03:43:49,214 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2015-09-14 03:43:49,215 INFO sqlalchemy.engine.base.Engine ('jack', 'Jack Jones')

INFO:sqlalchemy.engine.base.Engine:('jack', 'Jack Jones')

2015-09-14 03:43:49,216 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [19]:
result.inserted_primary_key

[1]

In [20]:
ins = users.insert()
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

2015-09-14 03:45:12,330 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)

2015-09-14 03:45:12,333 INFO sqlalchemy.engine.base.Engine (2, 'wendy', 'Wendy Williams')

INFO:sqlalchemy.engine.base.Engine:(2, 'wendy', 'Wendy Williams')

2015-09-14 03:45:12,336 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [21]:
def data_inserter(connection, in_id, in_name, in_fullname):
    ins = users.insert()
    connection.execute(ins, id=in_id, name=in_name, fullname=in_fullname)

In [24]:
conn.execute(addresses.insert(), [
        {'user_id': 1, 'email_address': 'jack@yahoo.com'},
        {'user_id': 1, 'email_address': 'jack@man.com'},
        {'user_id': 2, 'email_address': 'www@www.org'},
        {'user_id': 2, 'email_address': 'wedny@aol.com'}
    ])

2015-09-14 03:52:13,152 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

2015-09-14 03:52:13,153 INFO sqlalchemy.engine.base.Engine ((1, 'jack@yahoo.com'), (1, 'jack@man.com'), (2, 'www@www.org'), (2, 'wedny@aol.com'))

INFO:sqlalchemy.engine.base.Engine:((1, 'jack@yahoo.com'), (1, 'jack@man.com'), (2, 'www@www.org'), (2, 'wedny@aol.com'))

2015-09-14 03:52:13,154 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT